<footer class="p-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="prestige">
          <span class="logo fs-1 fw-bold">Prestige</span>
          <p class="logo">PrimeNG Premium Template</p>
        </div>
      </div>


      <div class="col-md-3">
        <span class="logo fs-6 fw-bold">LATEST TEMPLATES</span>
        <div class="template d-flex">
          <ul class="logo p-4">
            <li>Sapphire</li>
            <li>Rome</li>
            <li>Babylon</li>
            <li>Olympia</li>
          </ul>
          <ul class="logo p-4">
            <li>Manhattan</li>
            <li>Ecuador</li>
            <li>Harmony</li>
            <li>California</li>
          </ul>
        </div>
      </div>

      <div class="col-md-3">
        <span class="logo fw-bold fs-6">DEMOS</span>
        <div class="tebplate">
          <ul class="logo p-4">
            <li>PrimeFaces</li>
            <li>PrimeNG</li>
            <li>PrimeReact</li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
