<div class="layout-actionbar">
  <div class="layout-breadcrumb">
    <div class="route-bar-breadcrumb">
      <span class="ng-star-inserted"><!----><!----></span
      ><!---->
    </div>
  </div>
  <div class="layout-actions">
    <ul>
      <li>
        <button><i class="fas fa-compass icon"></i></button>
      </li>
      <li>
        <button><i class="fas fa-inbox icon"></i></button>
      </li>
      <li>
        <button><i class="far fa-file icon"></i></button>
      </li>
      <li>
        <button><i class="fas fa-info-circle icon"></i></button>
      </li>
      <li>
        <button><i class="fas fa-user icon"></i></button>
      </li>
    </ul>
  </div>
</div>
